<div class="row">
  <div class="col-md-4 row">
    <section class="user_info center jumbotron">
      <%= link_to gravatar_for(current_user, {size: 130}), current_user %>
      <h2><%= current_user.name %></h2>
    </section>
  </div>
  <div class="col-md-8">
    <div>      
      <%= button_to t(".btn_words"), categories_path,
        class: "btn btn-default col-md-4", method: :get %>
      <%= button_to t(".btn_lessons"), lessons_path,
        class: "btn btn-default col-md-4", method: :get %>
      <%= button_to t(".btn_goals"), user_goals_path,
        class: "btn btn-default col-md-4", method: :get %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12"><h3><%=t(".activities")%></h3></div>
      <div class="col-md-12 table-responsive">
        <table id="activities" class="table table-hover">
          <thead>
            <tr>
              <th><%=t(".user")%></th>
              <th><%=t(".activity")%></th>
              <th><%=t(".time")%></th>
            </tr>
          </thead>
          <tbody>
            <%= render @activities %>
          </tbody>
        </div>
        <div id="scroll">
          <%= will_paginate @activities %>
        </div>
      </div>
    </div>
  </div>
</div>
