<div class="container">
<div class="form-box" style="margin-top: 10px;">
  <div class="header"><%= t ".login" %></div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for :session, url: login_path do |f| %>
        <div class="body bg-gray">
        <div class="form-group">
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, class: "form-control" %>
        </div>
  
        <div class="form-group">
        <%= f.label :password, t(".password") %>
        <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="form-group">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <%= t ".remember_me" %>
        <% end %>
        </div>
        </div>

        <div class="footer">                                                               
          <%= f.submit t(".btn_submit"), class: "btn bg-olive btn-block" %>
          <p>
            <%= link_to t(".signup"), signup_path, class: "text-center" %>
          </p>
        </div>
      <% end %>

    </div>
  </div>
</div>