<div class="row">
  <div class="col-md-4">
    <%= form_for [:admin, @word] do |f| %>
      <%= f.label :content, t(".word") %>
      <%= f.text_field :content,class: "form-control" %>
      <%= f.label :content, t(".answers") %>
      <div class="answers">
        <%= f.fields_for :answers do |builder| %>
          <div class="controls form-inline" style="margin-bottom: 4px;">
            <%= render "answer_fields", f: builder %>          
          </div>
        <% end %>
        <%= link_to_add_fields t(".add_answer"), f, :answers, class: "btn btn-info btn-sm", style: "margin-top: 5px;" %>
      </div>
      <br>
      <%= f.submit t(".change"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
