<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>

<h1>User Goals</h1>
<%= link_to 'New User goal', new_user_goal_path %>
<table class="table">
  <thead>
    <tr>
      <th>Number of words</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= line_chart [
    {name: "goal", data: @word_goals.to_a.group_by{|x| x.deadline}
      .map{|group| [group[0].strftime("%m/%d/%Y"), group[1].map(&:number_of_words).sum]}},
    {name: "log", data: @word_logs.to_a.group_by{|x| x.created_at}
      .map{|group| [group[0].strftime("%m/%d/%Y"), group[1].map(&:number_of_word).sum]}}
    ] %>
  <tbody>
    <% @user_goals.each do |user_goal| %>
      <tr>
        <td><%= user_goal.number_of_words %></td>
        <td><%= user_goal.deadline %></td>
        <td><%= link_to 'Show', user_goal %></td>
        <td><%= link_to 'Edit', edit_user_goal_path(user_goal) %></td>
        <td><%= link_to 'Destroy', user_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

