<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_goal.user_id %>
</p>

<p>
  <strong>Number of words:</strong>
  <%= @user_goal.number_of_words %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @user_goal.deadline %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@user_goal) %> |
<%= link_to 'Back', user_goals_path %>
